---
import Form from "../components/Form.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Pennine Digital - Contact">

  <section class="py-44 bg-light px-3">

    <div class="text-center px-6 max-w-2xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-heading font-semibold">Let’s talk about your project</h1>

      <p class="mt-4 text-dark/70 leading-relaxed">Whether you’re starting something new or improving what you already have, I’d love to hear what you’re working on. Tell me a little about your project and I’ll get back to you as soon as I can.</p>

      <p class="text-dark/60 text-sm mt-6">I usually reply within one working day.</p>
    </div>

    <Form/>

  </section>

</BaseLayout>
