---
const { title, href, variant = "light" } = Astro.props;

const variants = {
  light: "text-dark border-2 border-accent",
  dark: "text-light border-2 border-accent",
  main: "text-light bg-accent border-2 border-transparent",
};
---

<a href={href} class=`w-max rounded-lg px-4 py-2 font-heading ${variants[variant]}`>{title}</a>
