---
import hero from "/public/bgHero.webp";
import Button from "./Button.astro";
---

<section class="relative h-[100vh]">
  <img src={hero.src} fetchpriority="high" alt="hero image" class="w-full h-full object-cover absolute" />
  <div class="absolute inset-0 bg-primary/90"></div>

  <div class="h-full flex flex-col justify-center items-center text-center pt-16 gap-10 md:gap-14 px-6 md:max-w-lg mx-auto">
    <div class="relative z-10 text-brand-200/90">
      <p class="text-sm uppercase tracking-wide text-accent mb-2">Built with clarity, speed, and personal care</p>

      <h1 class="text-5xl font-heading font-semibold text-brand-200">
        Fast, simple websites for <span class="italic text-accent">small Yorkshire businesses </span>
      </h1>

      <p class="mt-8 max-w-md mx-auto text-xl font-thin">
        I build fast, modern websites for small businesses and creatives — clear to navigate, quick to load, and built with personal care
        from start to finish.
      </p>
    </div>

    <div class="relative z-10 flex flex-col sm:flex-row gap-4">
      <Button href="/contact" title="Get in Touch" variant="main" />
      <Button href="/projects" title="View My Work" variant="ghost" />
    </div>
  </div>
</section>
