---
const { title, description, listHeader, list } = Astro.props;
---

<div
  class="transition-all duration-300 hover:-translate-y-1 p-6 bg-brand-100/60 shadow-md hover:border-accent/20 hover:shadow-lg space-y-4">
  <div class="space-y-2">
    <h3 class="text-xl font-semibold text-brand-900/80">{title}</h3>
    <p class="leading-relaxed">{description}</p>
  </div>

  <div class="space-y-2">
    <p class="text-xs font-semibold uppercase tracking-wide text-dark/70">{listHeader}</p>

    <ul class="space-y-1 text-sm text-dark/70">
      {
        list?.map((item = "string") => (
          <li class="flex gap-2">
            <span class="text-accent">•</span>
            <span>{item}</span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
